

*{
  /* 字型 */
  font-family: 微軟正黑體;
  
  /* 字距 */
  letter-spacing: 2px;
  color: #fff;
  
  font-weight: 100;
  
}
html,body{
  margin: 0;
  box-sizing: border-box;
}

body{

  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
  
/*   加入背景圖片 bgi */
  background-image: url(https://images.pexels.com/photos/6348820/pexels-photo-6348820.jpeg);
  
  /* 圖片大小 bgz */
 background-size: cover;
 background-repeat: no-repeat;
 background-position: 0 150%;

}

.namecard{
  /* 寬度高度 */
  width: 350px;
  height: 200px;
  
  /* 外距（和其他元素的距離）　 */
  margin: auto;
  margin-top: 10%;
  
  /* 內距（留白） */
  padding: 20px;
  position: relative;
  background-color: transparent;
  
  overflow: hidden;
  border-radius: 6px;
  box-shadow: 0px 0px 15px #fff;
    
  transition-duration: 0.5s;
}
h3{
  /* 絕對定位 */
  position: absolute;
  
  /* 和下方的距離 */
  bottom: 10px;
  
  width: 100%;
  
  /* 文字置中 */
  text-align: center;
}
h2{
  font-size: 28px;
  font-weight: 800;
}
span{
  font-size: 12px;
  margin-left: 10px;
}
p{
  font-size: 12px;
  line-height: 22px;
}

.circle1{
  width: 100px;
  height: 100px;
  border-radius: 100%;
  position: absolute;
  left: 150px;
  bottom: -90px;
  background-color: #E3DFDD;
  
  /* 動畫完成時間縮寫 trsdu */
  transition-duration: 0.5s;
}

.circle2{
  width: 60px;
  height: 60px;
  border-radius: 100%;
  position: absolute;
  right: -35px;
  top: -35px;
  border: 3px solid #E3DFDD;
  
  /* 動畫完成時間縮寫 trsdu */
  transition-duration: 0.5s;
  
  /*   動畫延遲 trsde */
  transition-delay: 0.5s;
  
}


h5{
  color: #E3DFDD;
}




/* :hover 設定滑鼠移入後發生的事情 */
.namecard:hover{
  
  /* 動畫移動縮寫 trft */
  transform: translate(-10px, -10px);
  box-shadow: 0px 0px 30px #fff;
}

/* 中間下方圓圈動畫-移動 */
.namecard:hover .circle1{
  /* 動畫移動縮寫 trft */
  transform: translate(0px, -10px);  
}

/* 右上角圓圈動畫-放大 */
.namecard:hover .circle2{
  /* 動畫效果縮寫 trf */
  transform: scale(1.3);
}


/* 自己往上找到.circle2，加入動畫延遲 0.5s */
/* 動畫延遲的縮寫 trsde */

/* 動畫完成時間縮寫 trsdu */